In [2]:
import pandas as pd    
pd.set_option('display.max_colwidth', -1)
df = pd.DataFrame({"fruit_tags": [["'apples'", "'oranges'", "'pears'"], ["'melons'", "'peaches'", "'kiwis'"]], "sent_tags":[["'apples'", "'sweeter than oranges'", "'pears sweeter than apples'"], ["'melons'", "'sweeter than peaches'", "'kiwis sweeter than melons'"]]})
print(df)

                       fruit_tags  \
0  ['apples', 'oranges', 'pears']
1  ['melons', 'peaches', 'kiwis']

                                                         sent_tags
0  ['apples', 'sweeter than oranges', 'pears sweeter than apples']
1  ['melons', 'sweeter than peaches', 'kiwis sweeter than melons']

<ipython-input-2-6562480f5d93>:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [4]:
s = df['sent_tags'].apply(lambda x: [z for y in x for z in y.strip("'").lower().split()])
print(s)

0    [apples, sweeter, than, oranges, pears, sweeter, than, apples]
1    [melons, sweeter, than, peaches, kiwis, sweeter, than, melons]
Name: sent_tags, dtype: object

In [5]:
s = [[z for y in x for z in y.strip("'").lower().split()] for x in df['sent_tags']]
print(s)

[['apples', 'sweeter', 'than', 'oranges', 'pears', 'sweeter', 'than', 'apples'], ['melons', 'sweeter', 'than', 'peaches', 'kiwis', 'sweeter', 'than', 'melons']]

In [6]:
df['sent_tags'].apply(lambda x: [item for elem in [y.split() for y in x] for item in elem])

0    ['apples', 'sweeter, than, oranges', 'pears, sweeter, than, apples']
1    ['melons', 'sweeter, than, peaches', 'kiwis, sweeter, than, melons']
Name: sent_tags, dtype: object

In [1]:
l = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 45 else x+5 for x in l]

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [2]:
import pandas as pd
# date (mm.dd.yyyy) and time (H:MM:SS)
date = ['01.02.2019 1:30:00 PM']
# output in yyyy-mm-dd HH:MM:SS
print(pd.to_datetime(date))

DatetimeIndex(['2019-01-02 13:30:00'], dtype='datetime64[ns]', freq=None)

In [5]:
import pandas as pd 
# pandas interprets this date to be in m-d-yyyy format
print(pd.to_datetime('8-2-2019'))
# if the specified date contains the day first, then 
# that has to be specified.
# output in yyyy-mm-dd format.
print(pd.to_datetime('8-2-2019', dayfirst = True))
# if the specified date contains the year first, then 
# that has to be specified.
# output in yyyy-mm-dd format.
print(pd.to_datetime('10-2-8', yearfirst = True))

2019-08-02 00:00:00
2019-02-08 00:00:00
2010-02-08 00:00:00

In [26]:
dict={
    'catA':['A','A','A','B','B','B'],
    'catB':['X','X','Y','Y','Z','Z',],
    'scores':['6-4 RET','6-4 6-4','6-3 RET','6-2 RET', '6-0 RET', '6-1 RET']
}
df1=pd.DataFrame(dict)
df1.head()

  catA catB   scores
0    A    X  6-4 RET
1    A    X  6-4 6-4
2    A    Y  6-3 RET
3    B    Y  6-2 RET
4    B    Z  6-0 RET

In [12]:
df1.groupby(['catA', 'catB'])['scores'].apply(lambda x: x.count())

catA  catB
A     X       2
      Y       1
B     Y       1
      Z       2
Name: scores, dtype: int64

In [27]:
#df1 = df1[df1.groupby('catA')['scores'].transform('first').eq(df1['scores'])]
#df1

df1 = df1.groupby('catA')['scores'].size().reset_index(name='count')
df1

  catA  count
0    A      3
1    B      3